# Node dependencies
node_modules/

# Logs
*.log

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build output
dist/
build/

# NPM cache
.npm/
.cache/
